nodered-data/.flows.json.backup
[
    {
        "id": "f6f2187d.f17ca8",
        "type": "tab",
        "label": "backend",
        "disabled": true,
        "info": "# Backend\r\nManagment of the data"
    },
    {
        "id": "15190ced22077bbd",
        "type": "tab",
        "label": "frontend",
        "disabled": true,
        "info": "# Frontend\r\nReal data showed every minut",
        "env": []
    },
    {
        "id": "48b560f549e90a5f",
        "type": "tab",
        "label": "mock app",
        "disabled": false,
        "info": "# mock app\r\nMock app for use without external hardware",
        "env": []
    },
    {
        "id": "bd41e94f70e6bcf2",
        "type": "tab",
        "label": "db frontend",
        "disabled": false,
        "info": "# Db frontend\r\nUi of the data in the frontend (only of the day)",
        "env": []
    },
    {
        "id": "f94c42e1dba41f85",
        "type": "MySQLdatabase",
        "name": "mySql",
        "host": "host.docker.internal",
        "port": "3306",
        "db": "clase_upc",
        "tz": "",
        "charset": "UTF8"
    },
    {
        "id": "52bfc4fe61161787",
        "type": "s7 endpoint",
        "d": true,
        "transport": "iso-on-tcp",
        "address": "10.20.30.60",
        "port": "102",
        "rack": "0",
        "slot": "1",
        "localtsaphi": "01",
        "localtsaplo": "00",
        "remotetsaphi": "01",
        "remotetsaplo": "00",
        "connmode": "rack-slot",
        "adapter": "",
        "busaddr": 2,
        "cycletime": 1000,
        "timeout": 2000,
        "name": "Plc_60",
        "vartable": [
            {
                "addr": "MR6",
                "name": "temperatura"
            },
            {
                "addr": "Q0.3",
                "name": "Resistencia ON"
            },
            {
                "addr": "MR20",
                "name": "Termopar"
            }
        ]
    },
    {
        "id": "e70a758d79bf32ce",
        "type": "mqtt-broker",
        "d": true,
        "name": "",
        "broker": "10.20.60.5",
        "port": "8322",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "8498ee96c323f966",
        "type": "s7 endpoint",
        "d": true,
        "transport": "iso-on-tcp",
        "address": "10.20.30.90",
        "port": "102",
        "rack": "0",
        "slot": "1",
        "localtsaphi": "01",
        "localtsaplo": "00",
        "remotetsaphi": "01",
        "remotetsaplo": "00",
        "connmode": "rack-slot",
        "adapter": "",
        "busaddr": 2,
        "cycletime": 1000,
        "timeout": 2000,
        "name": "",
        "vartable": [
            {
                "addr": "MR22",
                "name": "pt_100"
            }
        ]
    },
    {
        "id": "9a56aa0d5d628689",
        "type": "s7 endpoint",
        "d": true,
        "transport": "iso-on-tcp",
        "address": "10.20.30.80",
        "port": "102",
        "rack": "0",
        "slot": "1",
        "localtsaphi": "01",
        "localtsaplo": "00",
        "remotetsaphi": "01",
        "remotetsaplo": "00",
        "connmode": "rack-slot",
        "adapter": "",
        "busaddr": 2,
        "cycletime": 1000,
        "timeout": 2000,
        "name": "",
        "vartable": [
            {
                "addr": "MR50",
                "name": "Pt100"
            }
        ]
    },
    {
        "id": "10e7f9c5c765cca8",
        "type": "s7 endpoint",
        "d": true,
        "transport": "iso-on-tcp",
        "address": "10.20.30.70",
        "port": "102",
        "rack": "0",
        "slot": "1",
        "localtsaphi": "01",
        "localtsaplo": "00",
        "remotetsaphi": "01",
        "remotetsaplo": "00",
        "connmode": "rack-slot",
        "adapter": "",
        "busaddr": 2,
        "cycletime": 1000,
        "timeout": 2000,
        "name": "",
        "vartable": [
            {
                "addr": "MR28",
                "name": "Salida_Temp"
            }
        ]
    },
    {
        "id": "c106aaae32f8d6e4",
        "type": "mqtt-broker",
        "name": "raspberry pi",
        "broker": "10.20.60.5",
        "port": "8322",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "ad0d826e6e6a224e",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "873bfa635c2c5943",
        "type": "ui_group",
        "name": "PLC 60 (termopar)",
        "tab": "ad0d826e6e6a224e",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "dcbb2fb77a2630e2",
        "type": "ui_group",
        "name": "PLC 60 (pt-100)",
        "tab": "ad0d826e6e6a224e",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "b854fa62b8469afe",
        "type": "ui_group",
        "name": "PLC 70",
        "tab": "ad0d826e6e6a224e",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "efc68f0ae5b88837",
        "type": "ui_group",
        "name": "PLC 80",
        "tab": "ad0d826e6e6a224e",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "6404a2cdfd60d19e",
        "type": "ui_group",
        "name": "PLC 90",
        "tab": "ad0d826e6e6a224e",
        "order": 5,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "06ed5048729e89b4",
        "type": "ui_group",
        "name": "MQTT_temp",
        "tab": "ad0d826e6e6a224e",
        "order": 6,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "59cd0987390f775f",
        "type": "ui_group",
        "name": "MQTT_hum",
        "tab": "ad0d826e6e6a224e",
        "order": 7,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "25d8137e0529bb06",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "3cc11d24.ff01a2",
        "type": "comment",
        "z": "f6f2187d.f17ca8",
        "name": "WARNING: please check you have started this container with a volume that is mounted to /data\\n otherwise any flow changes are lost when you redeploy or upgrade the container\\n (e.g. upgrade to a more recent node-red docker image).\\n  If you are using named volumes you can ignore this warning.\\n Double click or see info side panel to learn how to start Node-RED in Docker to save your work",
        "info": "\nTo start docker with a bind mount volume (-v option), for example:\n\n```\ndocker run -it -p 1880:1880 -v /home/user/node_red_data:/data --name mynodered nodered/node-red\n```\n\nwhere `/home/user/node_red_data` is a directory on your host machine where you want to store your flows.\n\nIf you do not do this then you can experiment and redploy flows, but if you restart or upgrade the container the flows will be disconnected and lost. \n\nThey will still exist in a hidden data volume, which can be recovered using standard docker techniques, but that is much more complex than just starting with a named volume as described above.",
        "x": 430,
        "y": 60,
        "wires": []
    },
    {
        "id": "36f36d25bed3e703",
        "type": "s7 in",
        "z": "f6f2187d.f17ca8",
        "endpoint": "52bfc4fe61161787",
        "mode": "single",
        "variable": "temperatura",
        "diff": false,
        "name": "PLC_60_pt100",
        "x": 120,
        "y": 680,
        "wires": [
            [
                "caadd463dfb82d09"
            ]
        ]
    },
    {
        "id": "f13d8c27e7b275af",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "pt100_plc60",
        "func": "msg.payload = parseFloat(msg.payload.toString().replace(',', '.')) // asegúrate de que es número decimal\n\n    msg.topic = `INSERT INTO datos(valor, idsensor) VALUES (${msg.payload}, 8)`;\nreturn msg\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 680,
        "wires": [
            [
                "8a3204ed56398d12"
            ]
        ]
    },
    {
        "id": "1abd7c524bb95329",
        "type": "mqtt in",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "topic": "esp32_1/temp",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "e70a758d79bf32ce",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 130,
        "y": 180,
        "wires": [
            [
                "ccfec483f7af6ece"
            ]
        ]
    },
    {
        "id": "ccfec483f7af6ece",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "function 2",
        "func": "// msg.payload = parseFloat(msg.payload.toString().replace(',', '.')); // asegúrate de que es número decimal\n\nmsg.topic = `INSERT INTO datos(valor, idsensor) VALUES (${msg.payload}, 13)`;\n\nreturn msg;\n\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 180,
        "wires": [
            [
                "8a3204ed56398d12"
            ]
        ]
    },
    {
        "id": "5078341b46278fae",
        "type": "s7 in",
        "z": "f6f2187d.f17ca8",
        "endpoint": "8498ee96c323f966",
        "mode": "single",
        "variable": "pt_100",
        "diff": false,
        "name": "PLC_90",
        "x": 120,
        "y": 460,
        "wires": [
            [
                "097a024e75d1f401"
            ]
        ]
    },
    {
        "id": "6c25c269a5a538db",
        "type": "s7 in",
        "z": "f6f2187d.f17ca8",
        "endpoint": "9a56aa0d5d628689",
        "mode": "single",
        "variable": "Pt100",
        "diff": false,
        "name": "PLC_80",
        "x": 120,
        "y": 520,
        "wires": [
            [
                "b3b8e5b68e1086b8"
            ]
        ]
    },
    {
        "id": "acae3d2e521a9557",
        "type": "s7 in",
        "z": "f6f2187d.f17ca8",
        "endpoint": "10e7f9c5c765cca8",
        "mode": "single",
        "variable": "Salida_Temp",
        "diff": false,
        "name": "PLC_70",
        "x": 120,
        "y": 580,
        "wires": [
            [
                "02813c9e2e9c99e4"
            ]
        ]
    },
    {
        "id": "468cb3ef60004704",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "pt100_plc90",
        "func": "msg.payload = parseFloat(msg.payload.toString().replace(',', '.')) // asegúrate de que es número decimal\n\n    msg.topic = `INSERT INTO datos(valor, idsensor) VALUES (${msg.payload}, 12)`\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 460,
        "wires": [
            [
                "8a3204ed56398d12"
            ]
        ]
    },
    {
        "id": "0271c69d9ad58e57",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "termopar_plc60",
        "func": "msg.payload = parseFloat(msg.payload.toString().replace(',', '.')); // asegúrate de que es número decimal\n\nmsg.topic = `INSERT INTO datos(valor, idsensor) VALUES (${msg.payload}, 9)`;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 640,
        "wires": [
            [
                "8a3204ed56398d12"
            ]
        ]
    },
    {
        "id": "8a3204ed56398d12",
        "type": "mysql",
        "z": "f6f2187d.f17ca8",
        "mydb": "f94c42e1dba41f85",
        "name": "clase_upc",
        "x": 840,
        "y": 620,
        "wires": [
            []
        ]
    },
    {
        "id": "f63313cd3ae33d8f",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "pt100_plc70",
        "func": "msg.payload = parseFloat(msg.payload.toString().replace(',', '.')) // asegúrate de que es número decimal\n\nmsg.topic = `INSERT INTO datos(valor, idsensor) VALUES (${msg.payload}, 10)`;\nreturn msg\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 580,
        "wires": [
            [
                "8a3204ed56398d12"
            ]
        ]
    },
    {
        "id": "349b3fac2467be87",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "pt100_plc80",
        "func": "\nmsg.payload = parseFloat(msg.payload.toString().replace(',', '.')) // asegúrate de que es número decimal\n\nmsg.topic = `INSERT INTO datos(valor, idsensor) VALUES (${msg.payload}, 11)`;\nreturn msg\n\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 520,
        "wires": [
            [
                "8a3204ed56398d12"
            ]
        ]
    },
    {
        "id": "d7e7b5a27cd19f96",
        "type": "mqtt in",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "topic": "esp32_1/hum",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "e70a758d79bf32ce",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 130,
        "y": 340,
        "wires": [
            [
                "5747c9c6f3a657eb"
            ]
        ]
    },
    {
        "id": "5747c9c6f3a657eb",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "function 1",
        "func": "// msg.payload = parseFloat(msg.payload.toString().replace(',', '.')); // asegúrate de que es número decimal\n\nmsg.topic = `INSERT INTO datos(valor, idsensor) VALUES (${msg.payload}, 14)`;\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 340,
        "wires": [
            [
                "8a3204ed56398d12"
            ]
        ]
    },
    {
        "id": "85b096dc7166baf1",
        "type": "s7 in",
        "z": "f6f2187d.f17ca8",
        "endpoint": "52bfc4fe61161787",
        "mode": "single",
        "variable": "Termopar",
        "diff": false,
        "name": "PLC_60_termopar",
        "x": 130,
        "y": 640,
        "wires": [
            [
                "13df1e879654a943"
            ]
        ]
    },
    {
        "id": "097a024e75d1f401",
        "type": "trigger",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "op1": "",
        "op2": "",
        "op1type": "nul",
        "op2type": "pay",
        "duration": "1",
        "extend": false,
        "overrideDelay": false,
        "units": "min",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 290,
        "y": 460,
        "wires": [
            [
                "468cb3ef60004704"
            ]
        ]
    },
    {
        "id": "caadd463dfb82d09",
        "type": "trigger",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "op1": "",
        "op2": "",
        "op1type": "nul",
        "op2type": "pay",
        "duration": "1",
        "extend": false,
        "overrideDelay": false,
        "units": "min",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 310,
        "y": 680,
        "wires": [
            [
                "f13d8c27e7b275af"
            ]
        ]
    },
    {
        "id": "13df1e879654a943",
        "type": "trigger",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "op1": "",
        "op2": "",
        "op1type": "nul",
        "op2type": "pay",
        "duration": "1",
        "extend": false,
        "overrideDelay": false,
        "units": "min",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 310,
        "y": 640,
        "wires": [
            [
                "0271c69d9ad58e57"
            ]
        ]
    },
    {
        "id": "02813c9e2e9c99e4",
        "type": "trigger",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "op1": "",
        "op2": "",
        "op1type": "nul",
        "op2type": "pay",
        "duration": "1",
        "extend": false,
        "overrideDelay": false,
        "units": "min",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 310,
        "y": 580,
        "wires": [
            [
                "f63313cd3ae33d8f"
            ]
        ]
    },
    {
        "id": "b3b8e5b68e1086b8",
        "type": "trigger",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "op1": "",
        "op2": "",
        "op1type": "nul",
        "op2type": "pay",
        "duration": "1",
        "extend": false,
        "overrideDelay": false,
        "units": "min",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 310,
        "y": 520,
        "wires": [
            [
                "349b3fac2467be87"
            ]
        ]
    },
    {
        "id": "f6c7a05bd629cacd",
        "type": "comment",
        "z": "f6f2187d.f17ca8",
        "name": "save data",
        "info": "# Datos almacenados\nDatos almacenados en la base de datos, recogidos cada minuto",
        "x": 120,
        "y": 140,
        "wires": []
    },
    {
        "id": "fd404df0451584fa",
        "type": "s7 in",
        "z": "15190ced22077bbd",
        "endpoint": "52bfc4fe61161787",
        "mode": "single",
        "variable": "Termopar",
        "diff": false,
        "name": "",
        "x": 120,
        "y": 140,
        "wires": [
            [
                "e1caa57b09e4f266"
            ]
        ]
    },
    {
        "id": "70ec15fe4e2aae0b",
        "type": "s7 in",
        "z": "15190ced22077bbd",
        "endpoint": "10e7f9c5c765cca8",
        "mode": "single",
        "variable": "Salida_Temp",
        "diff": false,
        "name": "",
        "x": 130,
        "y": 280,
        "wires": [
            [
                "843b766e37dee58f"
            ]
        ]
    },
    {
        "id": "4e93a5be16ca8f2d",
        "type": "s7 in",
        "z": "15190ced22077bbd",
        "endpoint": "52bfc4fe61161787",
        "mode": "single",
        "variable": "temperatura",
        "diff": false,
        "name": "",
        "x": 130,
        "y": 200,
        "wires": [
            [
                "8391b4ba507682a8"
            ]
        ]
    },
    {
        "id": "bbdd28e54cb6f529",
        "type": "s7 in",
        "z": "15190ced22077bbd",
        "endpoint": "9a56aa0d5d628689",
        "mode": "single",
        "variable": "Pt100",
        "diff": false,
        "name": "",
        "x": 110,
        "y": 360,
        "wires": [
            [
                "bdeaf5b9303c69de"
            ]
        ]
    },
    {
        "id": "02a2a2d9349b58d9",
        "type": "s7 in",
        "z": "15190ced22077bbd",
        "endpoint": "8498ee96c323f966",
        "mode": "single",
        "variable": "pt_100",
        "diff": false,
        "name": "",
        "x": 110,
        "y": 460,
        "wires": [
            [
                "b55dfa6ff5dc4017"
            ]
        ]
    },
    {
        "id": "e1caa57b09e4f266",
        "type": "trigger",
        "z": "15190ced22077bbd",
        "name": "",
        "op1": "",
        "op2": "",
        "op1type": "nul",
        "op2type": "pay",
        "duration": "1",
        "extend": false,
        "overrideDelay": false,
        "units": "min",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 290,
        "y": 140,
        "wires": [
            [
                "ba7523e4f982ac07",
                "534a19b818e07967",
                "137e8ab13a3e756a"
            ]
        ]
    },
    {
        "id": "8391b4ba507682a8",
        "type": "trigger",
        "z": "15190ced22077bbd",
        "name": "",
        "op1": "",
        "op2": "",
        "op1type": "nul",
        "op2type": "pay",
        "duration": "1",
        "extend": false,
        "overrideDelay": false,
        "units": "min",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 290,
        "y": 200,
        "wires": [
            [
                "0b6a5578f769c28e",
                "38a771f1acb3f095",
                "8c980d4d54bfe2e3"
            ]
        ]
    },
    {
        "id": "843b766e37dee58f",
        "type": "trigger",
        "z": "15190ced22077bbd",
        "name": "",
        "op1": "",
        "op2": "",
        "op1type": "nul",
        "op2type": "pay",
        "duration": "1",
        "extend": false,
        "overrideDelay": false,
        "units": "min",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 270,
        "y": 280,
        "wires": [
            [
                "f2d24dffbb457f6d",
                "77249e9966170773",
                "721872db60b6e5ea"
            ]
        ]
    },
    {
        "id": "bdeaf5b9303c69de",
        "type": "trigger",
        "z": "15190ced22077bbd",
        "name": "",
        "op1": "",
        "op2": "",
        "op1type": "nul",
        "op2type": "pay",
        "duration": "1",
        "extend": false,
        "overrideDelay": false,
        "units": "min",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 290,
        "y": 360,
        "wires": [
            [
                "e32b23b346c14dea",
                "d5f409aecfae1f35",
                "1fc84e1e488ae4dd"
            ]
        ]
    },
    {
        "id": "b55dfa6ff5dc4017",
        "type": "trigger",
        "z": "15190ced22077bbd",
        "name": "",
        "op1": "",
        "op2": "",
        "op1type": "nul",
        "op2type": "pay",
        "duration": "1",
        "extend": false,
        "overrideDelay": false,
        "units": "min",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 290,
        "y": 460,
        "wires": [
            [
                "bf3bed34a592a708",
                "b8380429e0834b74",
                "7ed3c0600def893e"
            ]
        ]
    },
    {
        "id": "137e8ab13a3e756a",
        "type": "function",
        "z": "15190ced22077bbd",
        "name": "function 2",
        "func": "msg.actual = msg.payload.toFixed(2)\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 740,
        "y": 60,
        "wires": [
            [
                "5cd42eca09a36c15"
            ]
        ]
    },
    {
        "id": "21441a2552b8871f",
        "type": "mqtt in",
        "z": "15190ced22077bbd",
        "name": "",
        "topic": "esp32_1/temp",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "c106aaae32f8d6e4",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 640,
        "wires": [
            [
                "a947264f2170c16b",
                "bbd3e78bc699b71a",
                "4f57a6660a461393"
            ]
        ]
    },
    {
        "id": "62d705d875890c85",
        "type": "mqtt in",
        "z": "15190ced22077bbd",
        "name": "",
        "topic": "esp32_1/hum",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "c106aaae32f8d6e4",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 780,
        "wires": [
            [
                "4a87e15c7f9302f5",
                "20baf50ade04baa7",
                "60d41abf3a553787"
            ]
        ]
    },
    {
        "id": "5cd42eca09a36c15",
        "type": "ui_text",
        "z": "15190ced22077bbd",
        "group": "873bfa635c2c5943",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Temperatura actual",
        "format": "{{msg.actual}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 990,
        "y": 60,
        "wires": []
    },
    {
        "id": "b8380429e0834b74",
        "type": "ui_gauge",
        "z": "15190ced22077bbd",
        "name": "",
        "group": "6404a2cdfd60d19e",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "gauge",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 730,
        "y": 520,
        "wires": []
    },
    {
        "id": "d5f409aecfae1f35",
        "type": "ui_gauge",
        "z": "15190ced22077bbd",
        "name": "",
        "group": "efc68f0ae5b88837",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "gauge",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 730,
        "y": 400,
        "wires": []
    },
    {
        "id": "77249e9966170773",
        "type": "ui_gauge",
        "z": "15190ced22077bbd",
        "name": "",
        "group": "b854fa62b8469afe",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "gauge",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 730,
        "y": 320,
        "wires": []
    },
    {
        "id": "38a771f1acb3f095",
        "type": "ui_gauge",
        "z": "15190ced22077bbd",
        "name": "",
        "group": "dcbb2fb77a2630e2",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "gauge",
        "label": "units",
        "format": "{{value|number:2}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 730,
        "y": 240,
        "wires": []
    },
    {
        "id": "ba7523e4f982ac07",
        "type": "ui_gauge",
        "z": "15190ced22077bbd",
        "name": "",
        "group": "873bfa635c2c5943",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "gauge",
        "label": "units",
        "format": "{{value|number:2}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 730,
        "y": 100,
        "wires": []
    },
    {
        "id": "20baf50ade04baa7",
        "type": "ui_gauge",
        "z": "15190ced22077bbd",
        "name": "",
        "group": "59cd0987390f775f",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "gauge",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 730,
        "y": 780,
        "wires": []
    },
    {
        "id": "bbd3e78bc699b71a",
        "type": "ui_gauge",
        "z": "15190ced22077bbd",
        "name": "",
        "group": "06ed5048729e89b4",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "gauge",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 730,
        "y": 660,
        "wires": []
    },
    {
        "id": "534a19b818e07967",
        "type": "ui_chart",
        "z": "15190ced22077bbd",
        "name": "",
        "group": "873bfa635c2c5943",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": "10",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "test-chart",
        "x": 730,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "0b6a5578f769c28e",
        "type": "ui_chart",
        "z": "15190ced22077bbd",
        "name": "",
        "group": "dcbb2fb77a2630e2",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": "10",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "test-chart",
        "x": 730,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "f2d24dffbb457f6d",
        "type": "ui_chart",
        "z": "15190ced22077bbd",
        "name": "",
        "group": "b854fa62b8469afe",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": "10",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "test-chart",
        "x": 730,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "e32b23b346c14dea",
        "type": "ui_chart",
        "z": "15190ced22077bbd",
        "name": "",
        "group": "efc68f0ae5b88837",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": "10",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "test-chart",
        "x": 730,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "bf3bed34a592a708",
        "type": "ui_chart",
        "z": "15190ced22077bbd",
        "name": "",
        "group": "6404a2cdfd60d19e",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": "10",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "test-chart",
        "x": 730,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "a947264f2170c16b",
        "type": "ui_chart",
        "z": "15190ced22077bbd",
        "name": "",
        "group": "06ed5048729e89b4",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": "10",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "test-chart",
        "x": 730,
        "y": 620,
        "wires": [
            []
        ]
    },
    {
        "id": "4a87e15c7f9302f5",
        "type": "ui_chart",
        "z": "15190ced22077bbd",
        "name": "",
        "group": "59cd0987390f775f",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": "10",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "test-chart",
        "x": 730,
        "y": 720,
        "wires": [
            []
        ]
    },
    {
        "id": "8c980d4d54bfe2e3",
        "type": "function",
        "z": "15190ced22077bbd",
        "name": "function 3",
        "func": "msg.actual = msg.payload.toFixed(2)\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 620,
        "y": 180,
        "wires": [
            [
                "5c50a9f79bfd8701"
            ]
        ]
    },
    {
        "id": "5c50a9f79bfd8701",
        "type": "ui_text",
        "z": "15190ced22077bbd",
        "group": "dcbb2fb77a2630e2",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Temperatura actual",
        "format": "{{msg.actual}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 870,
        "y": 180,
        "wires": []
    },
    {
        "id": "721872db60b6e5ea",
        "type": "function",
        "z": "15190ced22077bbd",
        "name": "function 4",
        "func": "msg.actual = msg.payload.toFixed(2)\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 620,
        "y": 260,
        "wires": [
            [
                "14b7b5bf2375f5ea"
            ]
        ]
    },
    {
        "id": "14b7b5bf2375f5ea",
        "type": "ui_text",
        "z": "15190ced22077bbd",
        "group": "b854fa62b8469afe",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Temperatura actual",
        "format": "{{msg.actual}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 870,
        "y": 260,
        "wires": []
    },
    {
        "id": "1fc84e1e488ae4dd",
        "type": "function",
        "z": "15190ced22077bbd",
        "name": "function 5",
        "func": "msg.actual = msg.payload.toFixed(2)\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 620,
        "y": 340,
        "wires": [
            [
                "59b0bb134f31dc5f"
            ]
        ]
    },
    {
        "id": "59b0bb134f31dc5f",
        "type": "ui_text",
        "z": "15190ced22077bbd",
        "group": "efc68f0ae5b88837",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Temperatura actual",
        "format": "{{msg.actual}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 870,
        "y": 340,
        "wires": []
    },
    {
        "id": "7ed3c0600def893e",
        "type": "function",
        "z": "15190ced22077bbd",
        "name": "function 6",
        "func": "msg.actual = msg.payload.toFixed(2)\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 560,
        "wires": [
            [
                "9395f658730a3e8c"
            ]
        ]
    },
    {
        "id": "9395f658730a3e8c",
        "type": "ui_text",
        "z": "15190ced22077bbd",
        "group": "6404a2cdfd60d19e",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Temperatura actual",
        "format": "{{msg.actual}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 690,
        "y": 560,
        "wires": []
    },
    {
        "id": "4f57a6660a461393",
        "type": "function",
        "z": "15190ced22077bbd",
        "name": "function 7",
        "func": "msg.actual = msg.payload.toFixed(2)\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 620,
        "wires": [
            [
                "90d94f7d95ab48b9"
            ]
        ]
    },
    {
        "id": "90d94f7d95ab48b9",
        "type": "ui_text",
        "z": "15190ced22077bbd",
        "group": "06ed5048729e89b4",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Temperatura actual",
        "format": "{{msg.actual}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 570,
        "y": 620,
        "wires": []
    },
    {
        "id": "60d41abf3a553787",
        "type": "function",
        "z": "15190ced22077bbd",
        "name": "function 8",
        "func": "msg.actual = msg.payload.toFixed(2)\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 720,
        "wires": [
            [
                "13d1823e72dcb872"
            ]
        ]
    },
    {
        "id": "13d1823e72dcb872",
        "type": "ui_text",
        "z": "15190ced22077bbd",
        "group": "59cd0987390f775f",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Temperatura actual",
        "format": "{{msg.actual}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 570,
        "y": 720,
        "wires": []
    },
    {
        "id": "a669030c224e57de",
        "type": "comment",
        "z": "15190ced22077bbd",
        "name": "in-time data",
        "info": "# Datos actuales\nDatos actuales, muestrados cada minuto",
        "x": 130,
        "y": 80,
        "wires": []
    },
    {
        "id": "da4a5991c3bcaaed",
        "type": "function",
        "z": "48b560f549e90a5f",
        "name": "pt100_plc60",
        "func": "msg.payload = parseFloat(msg.payload.toString().replace(',', '.')) // asegúrate de que es número decimal\n\n    msg.topic = `INSERT INTO datos(valor, idsensor) VALUES (${msg.payload}, 8)`;\nreturn msg\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 550,
        "y": 660,
        "wires": [
            [
                "b2a612ccdf8f41f4"
            ]
        ]
    },
    {
        "id": "082ae1ccd56574ab",
        "type": "function",
        "z": "48b560f549e90a5f",
        "name": "function 9",
        "func": "// msg.payload = parseFloat(msg.payload.toString().replace(',', '.')); // asegúrate de que es número decimal\n\nmsg.topic = `INSERT INTO datos(valor, idsensor) VALUES (${msg.payload}, 13)`;\n\nreturn msg;\n\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 160,
        "wires": [
            [
                "b2a612ccdf8f41f4"
            ]
        ]
    },
    {
        "id": "fd73cf5bfc5f1c81",
        "type": "function",
        "z": "48b560f549e90a5f",
        "name": "pt100_plc90",
        "func": "msg.payload = parseFloat(msg.payload.toString().replace(',', '.')) // asegúrate de que es número decimal\n\n    msg.topic = `INSERT INTO datos(valor, idsensor) VALUES (${msg.payload}, 12)`\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 550,
        "y": 440,
        "wires": [
            [
                "b2a612ccdf8f41f4"
            ]
        ]
    },
    {
        "id": "ce813517080c4e1f",
        "type": "function",
        "z": "48b560f549e90a5f",
        "name": "termopar_plc60",
        "func": "msg.payload = parseFloat(msg.payload.toString().replace(',', '.')); // asegúrate de que es número decimal\n\nmsg.topic = `INSERT INTO datos(valor, idsensor) VALUES (${msg.payload}, 9)`;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 620,
        "wires": [
            [
                "b2a612ccdf8f41f4"
            ]
        ]
    },
    {
        "id": "b2a612ccdf8f41f4",
        "type": "mysql",
        "z": "48b560f549e90a5f",
        "mydb": "f94c42e1dba41f85",
        "name": "clase_upc",
        "x": 900,
        "y": 600,
        "wires": [
            []
        ]
    },
    {
        "id": "777a87282775d00a",
        "type": "function",
        "z": "48b560f549e90a5f",
        "name": "pt100_plc70",
        "func": "msg.payload = parseFloat(msg.payload.toString().replace(',', '.')) // asegúrate de que es número decimal\n\nmsg.topic = `INSERT INTO datos(valor, idsensor) VALUES (${msg.payload}, 10)`;\nreturn msg\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 550,
        "y": 560,
        "wires": [
            [
                "b2a612ccdf8f41f4"
            ]
        ]
    },
    {
        "id": "2a374d60c93dc1a5",
        "type": "function",
        "z": "48b560f549e90a5f",
        "name": "pt100_plc80",
        "func": "\nmsg.payload = parseFloat(msg.payload.toString().replace(',', '.')) // asegúrate de que es número decimal\n\nmsg.topic = `INSERT INTO datos(valor, idsensor) VALUES (${msg.payload}, 11)`;\nreturn msg\n\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 550,
        "y": 500,
        "wires": [
            [
                "b2a612ccdf8f41f4"
            ]
        ]
    },
    {
        "id": "a5eb87746b40d8a2",
        "type": "function",
        "z": "48b560f549e90a5f",
        "name": "function 10",
        "func": "// msg.payload = parseFloat(msg.payload.toString().replace(',', '.')); // asegúrate de que es número decimal\n\nmsg.topic = `INSERT INTO datos(valor, idsensor) VALUES (${msg.payload}, 14)`;\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 320,
        "wires": [
            [
                "b2a612ccdf8f41f4"
            ]
        ]
    },
    {
        "id": "8048875c1280ac6c",
        "type": "comment",
        "z": "48b560f549e90a5f",
        "name": "mock save data",
        "info": "# Datos almacenados mock\nDatos almacenados en la base de datos, recogidos cada minuto de una funcion mock 'aleatoria' (no reales)",
        "x": 200,
        "y": 120,
        "wires": []
    },
    {
        "id": "a6e92c9205fb4981",
        "type": "inject",
        "z": "48b560f549e90a5f",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "60",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "$round($random() * 28 + 10)",
        "payloadType": "jsonata",
        "x": 360,
        "y": 440,
        "wires": [
            [
                "fd73cf5bfc5f1c81",
                "20e779e403323d28",
                "e0559f6c0aeabef7",
                "c04ad33a6e939185"
            ]
        ]
    },
    {
        "id": "1fc439ec8433fc15",
        "type": "inject",
        "z": "48b560f549e90a5f",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "60",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "$round($random() * 28 + 10)",
        "payloadType": "jsonata",
        "x": 360,
        "y": 500,
        "wires": [
            [
                "2a374d60c93dc1a5",
                "dfad06f4a4476bbf",
                "4c40111113f8bde3",
                "75e59af6b1357430"
            ]
        ]
    },
    {
        "id": "e11df6492c4ec01f",
        "type": "inject",
        "z": "48b560f549e90a5f",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "60",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "$round($random() * 28 + 10)",
        "payloadType": "jsonata",
        "x": 360,
        "y": 560,
        "wires": [
            [
                "777a87282775d00a",
                "aaa2ba25ec01cfca",
                "c0885b0bb33a72c1",
                "ce8cc685387cf563"
            ]
        ]
    },
    {
        "id": "7b047c33b65d29f9",
        "type": "inject",
        "z": "48b560f549e90a5f",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "60",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "$round($random() * 28 + 10)",
        "payloadType": "jsonata",
        "x": 360,
        "y": 620,
        "wires": [
            [
                "ce813517080c4e1f",
                "14b572f90f8314aa",
                "620025aca96e0e20",
                "5d4b8e8a2ca1c874"
            ]
        ]
    },
    {
        "id": "61f7951d40dbf054",
        "type": "inject",
        "z": "48b560f549e90a5f",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "60",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "$round($random() * 28 + 10)",
        "payloadType": "jsonata",
        "x": 360,
        "y": 660,
        "wires": [
            [
                "da4a5991c3bcaaed",
                "fc2a8d7e08603833",
                "dadaabc12723c4be",
                "170f3f74aa270cf9"
            ]
        ]
    },
    {
        "id": "5e0dabaf21c61578",
        "type": "inject",
        "z": "48b560f549e90a5f",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "60",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "$round($random() * 28 + 10)",
        "payloadType": "jsonata",
        "x": 180,
        "y": 220,
        "wires": [
            [
                "082ae1ccd56574ab",
                "fb5d514c751832ee",
                "1d7c4463a126bb91",
                "d5773702e1f78007"
            ]
        ]
    },
    {
        "id": "07b3065c1ce36fc1",
        "type": "inject",
        "z": "48b560f549e90a5f",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "60",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "$round($random() * 60 + 5)",
        "payloadType": "jsonata",
        "x": 180,
        "y": 320,
        "wires": [
            [
                "a5eb87746b40d8a2",
                "3aa29f956321299a",
                "ae436004434b59fa",
                "aa7fe3cfcd664927"
            ]
        ]
    },
    {
        "id": "14b572f90f8314aa",
        "type": "function",
        "z": "48b560f549e90a5f",
        "name": "function 11",
        "func": "msg.actual = msg.payload.toFixed(2)\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1130,
        "y": 560,
        "wires": [
            [
                "401ab70284497ba8"
            ]
        ]
    },
    {
        "id": "401ab70284497ba8",
        "type": "ui_text",
        "z": "48b560f549e90a5f",
        "group": "873bfa635c2c5943",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Temperatura actual",
        "format": "{{msg.actual}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1380,
        "y": 560,
        "wires": []
    },
    {
        "id": "620025aca96e0e20",
        "type": "ui_gauge",
        "z": "48b560f549e90a5f",
        "name": "",
        "group": "873bfa635c2c5943",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "gauge",
        "label": "units",
        "format": "{{value|number:2}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1120,
        "y": 600,
        "wires": []
    },
    {
        "id": "5d4b8e8a2ca1c874",
        "type": "ui_chart",
        "z": "48b560f549e90a5f",
        "name": "",
        "group": "873bfa635c2c5943",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": "10",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "test-chart",
        "x": 1120,
        "y": 640,
        "wires": [
            []
        ]
    },
    {
        "id": "dadaabc12723c4be",
        "type": "ui_chart",
        "z": "48b560f549e90a5f",
        "name": "",
        "group": "dcbb2fb77a2630e2",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": "10",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "test-chart",
        "x": 910,
        "y": 700,
        "wires": [
            []
        ]
    },
    {
        "id": "fc2a8d7e08603833",
        "type": "function",
        "z": "48b560f549e90a5f",
        "name": "function 12",
        "func": "msg.actual = msg.payload.toFixed(2)\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 800,
        "y": 680,
        "wires": [
            [
                "2fa843d1075a76df"
            ]
        ]
    },
    {
        "id": "2fa843d1075a76df",
        "type": "ui_text",
        "z": "48b560f549e90a5f",
        "group": "dcbb2fb77a2630e2",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Temperatura actual",
        "format": "{{msg.actual}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1050,
        "y": 680,
        "wires": []
    },
    {
        "id": "170f3f74aa270cf9",
        "type": "ui_gauge",
        "z": "48b560f549e90a5f",
        "name": "",
        "group": "dcbb2fb77a2630e2",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "gauge",
        "label": "units",
        "format": "{{value|number:2}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 910,
        "y": 740,
        "wires": []
    },
    {
        "id": "c0885b0bb33a72c1",
        "type": "ui_chart",
        "z": "48b560f549e90a5f",
        "name": "",
        "group": "b854fa62b8469afe",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": "10",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "test-chart",
        "x": 550,
        "y": 820,
        "wires": [
            []
        ]
    },
    {
        "id": "aaa2ba25ec01cfca",
        "type": "function",
        "z": "48b560f549e90a5f",
        "name": "function 13",
        "func": "msg.actual = msg.payload.toFixed(2)\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 800,
        "wires": [
            [
                "d8c5df7afbcd26bd"
            ]
        ]
    },
    {
        "id": "d8c5df7afbcd26bd",
        "type": "ui_text",
        "z": "48b560f549e90a5f",
        "group": "b854fa62b8469afe",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Temperatura actual",
        "format": "{{msg.actual}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 690,
        "y": 800,
        "wires": []
    },
    {
        "id": "ce8cc685387cf563",
        "type": "ui_gauge",
        "z": "48b560f549e90a5f",
        "name": "",
        "group": "b854fa62b8469afe",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "gauge",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 550,
        "y": 860,
        "wires": []
    },
    {
        "id": "75e59af6b1357430",
        "type": "ui_gauge",
        "z": "48b560f549e90a5f",
        "name": "",
        "group": "efc68f0ae5b88837",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "gauge",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 950,
        "y": 520,
        "wires": []
    },
    {
        "id": "dfad06f4a4476bbf",
        "type": "ui_chart",
        "z": "48b560f549e90a5f",
        "name": "",
        "group": "efc68f0ae5b88837",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": "10",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "test-chart",
        "x": 950,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "4c40111113f8bde3",
        "type": "function",
        "z": "48b560f549e90a5f",
        "name": "function 14",
        "func": "msg.actual = msg.payload.toFixed(2)\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 840,
        "y": 460,
        "wires": [
            [
                "d7622a74c5dd3605"
            ]
        ]
    },
    {
        "id": "d7622a74c5dd3605",
        "type": "ui_text",
        "z": "48b560f549e90a5f",
        "group": "efc68f0ae5b88837",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Temperatura actual",
        "format": "{{msg.actual}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1090,
        "y": 460,
        "wires": []
    },
    {
        "id": "e0559f6c0aeabef7",
        "type": "ui_gauge",
        "z": "48b560f549e90a5f",
        "name": "",
        "group": "6404a2cdfd60d19e",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "gauge",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 830,
        "y": 360,
        "wires": []
    },
    {
        "id": "c04ad33a6e939185",
        "type": "ui_chart",
        "z": "48b560f549e90a5f",
        "name": "",
        "group": "6404a2cdfd60d19e",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": "10",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "test-chart",
        "x": 830,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "20e779e403323d28",
        "type": "function",
        "z": "48b560f549e90a5f",
        "name": "function 15",
        "func": "msg.actual = msg.payload.toFixed(2)\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 400,
        "wires": [
            [
                "dffc88f2fe8fb862"
            ]
        ]
    },
    {
        "id": "dffc88f2fe8fb862",
        "type": "ui_text",
        "z": "48b560f549e90a5f",
        "group": "6404a2cdfd60d19e",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Temperatura actual",
        "format": "{{msg.actual}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 790,
        "y": 400,
        "wires": []
    },
    {
        "id": "d5773702e1f78007",
        "type": "ui_gauge",
        "z": "48b560f549e90a5f",
        "name": "",
        "group": "06ed5048729e89b4",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "gauge",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 530,
        "y": 220,
        "wires": []
    },
    {
        "id": "fb5d514c751832ee",
        "type": "ui_chart",
        "z": "48b560f549e90a5f",
        "name": "",
        "group": "06ed5048729e89b4",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": "10",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "test-chart",
        "x": 530,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "1d7c4463a126bb91",
        "type": "function",
        "z": "48b560f549e90a5f",
        "name": "function 16",
        "func": "msg.actual = msg.payload.toFixed(2)\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 120,
        "wires": [
            [
                "3c7f5001236ff9af"
            ]
        ]
    },
    {
        "id": "3c7f5001236ff9af",
        "type": "ui_text",
        "z": "48b560f549e90a5f",
        "group": "06ed5048729e89b4",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Temperatura actual",
        "format": "{{msg.actual}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 630,
        "y": 120,
        "wires": []
    },
    {
        "id": "ae436004434b59fa",
        "type": "ui_gauge",
        "z": "48b560f549e90a5f",
        "name": "",
        "group": "59cd0987390f775f",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "gauge",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 550,
        "y": 340,
        "wires": []
    },
    {
        "id": "3aa29f956321299a",
        "type": "ui_chart",
        "z": "48b560f549e90a5f",
        "name": "",
        "group": "59cd0987390f775f",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": "10",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "test-chart",
        "x": 550,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "aa7fe3cfcd664927",
        "type": "function",
        "z": "48b560f549e90a5f",
        "name": "function 17",
        "func": "msg.actual = msg.payload.toFixed(2)\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 260,
        "wires": [
            [
                "c5d454ec2c0d260f"
            ]
        ]
    },
    {
        "id": "c5d454ec2c0d260f",
        "type": "ui_text",
        "z": "48b560f549e90a5f",
        "group": "59cd0987390f775f",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Temperatura actual",
        "format": "{{msg.actual}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 550,
        "y": 260,
        "wires": []
    },
    {
        "id": "512f360829317d88",
        "type": "ui_text",
        "z": "bd41e94f70e6bcf2",
        "group": "dcbb2fb77a2630e2",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Temperatura mínima",
        "format": "{{msg.payload[0].mi|number:2}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 560,
        "y": 160,
        "wires": []
    },
    {
        "id": "dca1f3e07283598a",
        "type": "ui_text",
        "z": "bd41e94f70e6bcf2",
        "group": "dcbb2fb77a2630e2",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Temperatura máxima",
        "format": "{{msg.payload[0].ma}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 560,
        "y": 200,
        "wires": []
    },
    {
        "id": "f899c097a093efcd",
        "type": "mysql",
        "z": "bd41e94f70e6bcf2",
        "mydb": "f94c42e1dba41f85",
        "name": "",
        "x": 350,
        "y": 200,
        "wires": [
            [
                "dca1f3e07283598a",
                "512f360829317d88",
                "54c23fc0a9f4a502"
            ]
        ]
    },
    {
        "id": "c0ad79e8df1b8189",
        "type": "inject",
        "z": "bd41e94f70e6bcf2",
        "name": "pt100_60",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "600",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "SELECT AVG(valor) as a, MIN(valor) as mi, MAX(valor) as ma  FROM datos WHERE idsensor = 8 AND DATE(timestamp) = CURDATE();",
        "payload": "",
        "payloadType": "date",
        "x": 170,
        "y": 200,
        "wires": [
            [
                "f899c097a093efcd"
            ]
        ]
    },
    {
        "id": "e26b19a359fd3360",
        "type": "inject",
        "z": "bd41e94f70e6bcf2",
        "name": "termo_60",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "600",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "SELECT AVG(valor) as a, MIN(valor) as mi, MAX(valor) as ma  FROM datos WHERE idsensor = 9 AND DATE(timestamp) = CURDATE();",
        "payload": "",
        "payloadType": "date",
        "x": 170,
        "y": 240,
        "wires": [
            [
                "1eea88a8af854c60"
            ]
        ]
    },
    {
        "id": "c2a76f7ed9aaaf90",
        "type": "inject",
        "z": "bd41e94f70e6bcf2",
        "name": "pt_70",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "600",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "SELECT AVG(valor) as a, MIN(valor) as mi, MAX(valor) as ma  FROM datos WHERE idsensor = 10 AND DATE(timestamp) = CURDATE();",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 280,
        "wires": [
            [
                "b6f5c0ae7414e2a1"
            ]
        ]
    },
    {
        "id": "f45443d05cb43e56",
        "type": "inject",
        "z": "bd41e94f70e6bcf2",
        "name": "pt_80",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "600",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "SELECT AVG(valor) as a, MIN(valor) as mi, MAX(valor) as ma  FROM datos WHERE idsensor = 11 AND DATE(timestamp) = CURDATE();",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 320,
        "wires": [
            [
                "3ba13864a981d092"
            ]
        ]
    },
    {
        "id": "7b67d6a4ea7eb47b",
        "type": "inject",
        "z": "bd41e94f70e6bcf2",
        "name": "pt_90",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "600",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "SELECT AVG(valor) as a, MIN(valor) as mi, MAX(valor) as ma  FROM datos WHERE idsensor = 12 AND DATE(timestamp) = CURDATE();",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 360,
        "wires": [
            [
                "3ba485f7f4ae2543"
            ]
        ]
    },
    {
        "id": "69958f14e20a4c56",
        "type": "inject",
        "z": "bd41e94f70e6bcf2",
        "name": "esp32_temp",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "600",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "SELECT AVG(valor) as a, MIN(valor) as mi, MAX(valor) as ma  FROM datos WHERE idsensor = 13 AND DATE(timestamp) = CURDATE();",
        "payload": "",
        "payloadType": "date",
        "x": 180,
        "y": 400,
        "wires": [
            [
                "8753ea09043497aa"
            ]
        ]
    },
    {
        "id": "c4476c46a2a2aab7",
        "type": "inject",
        "z": "bd41e94f70e6bcf2",
        "name": "esp32_hum",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "600",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "SELECT AVG(valor) as a, MIN(valor) as mi, MAX(valor) as ma  FROM datos WHERE idsensor = 14 AND DATE(timestamp) = CURDATE();",
        "payload": "",
        "payloadType": "date",
        "x": 170,
        "y": 440,
        "wires": [
            [
                "86263e238a5465f8"
            ]
        ]
    },
    {
        "id": "5414ccc9d0e7be05",
        "type": "ui_text",
        "z": "bd41e94f70e6bcf2",
        "group": "873bfa635c2c5943",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Temperatura media",
        "format": "{{msg.payload[0].a|number:2}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 790,
        "y": 160,
        "wires": []
    },
    {
        "id": "cd0b15cb68ef4a8e",
        "type": "ui_text",
        "z": "bd41e94f70e6bcf2",
        "group": "873bfa635c2c5943",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Temperatura mínima",
        "format": "{{msg.payload[0].mi|number:2}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 800,
        "y": 200,
        "wires": []
    },
    {
        "id": "625ee3547f1f776b",
        "type": "ui_text",
        "z": "bd41e94f70e6bcf2",
        "group": "873bfa635c2c5943",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Temperatura máxima",
        "format": "{{msg.payload[0].ma}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 800,
        "y": 240,
        "wires": []
    },
    {
        "id": "1eea88a8af854c60",
        "type": "mysql",
        "z": "bd41e94f70e6bcf2",
        "mydb": "f94c42e1dba41f85",
        "name": "",
        "x": 590,
        "y": 240,
        "wires": [
            [
                "625ee3547f1f776b",
                "cd0b15cb68ef4a8e",
                "5414ccc9d0e7be05"
            ]
        ]
    },
    {
        "id": "0e26d68c0bec5bd6",
        "type": "ui_text",
        "z": "bd41e94f70e6bcf2",
        "group": "b854fa62b8469afe",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Temperatura media",
        "format": "{{msg.payload[0].a|number:2}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1070,
        "y": 200,
        "wires": []
    },
    {
        "id": "924dc8e7cacf32e1",
        "type": "ui_text",
        "z": "bd41e94f70e6bcf2",
        "group": "b854fa62b8469afe",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Temperatura mínima",
        "format": "{{msg.payload[0].mi|number:2}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1080,
        "y": 240,
        "wires": []
    },
    {
        "id": "4a7e631073bec4c3",
        "type": "ui_text",
        "z": "bd41e94f70e6bcf2",
        "group": "b854fa62b8469afe",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Temperatura máxima",
        "format": "{{msg.payload[0].ma}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1080,
        "y": 280,
        "wires": []
    },
    {
        "id": "b6f5c0ae7414e2a1",
        "type": "mysql",
        "z": "bd41e94f70e6bcf2",
        "mydb": "f94c42e1dba41f85",
        "name": "",
        "x": 870,
        "y": 280,
        "wires": [
            [
                "4a7e631073bec4c3",
                "924dc8e7cacf32e1",
                "0e26d68c0bec5bd6"
            ]
        ]
    },
    {
        "id": "0e075fbe6f088a67",
        "type": "ui_text",
        "z": "bd41e94f70e6bcf2",
        "group": "efc68f0ae5b88837",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Temperatura media",
        "format": "{{msg.payload[0].a|number:2}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1370,
        "y": 240,
        "wires": []
    },
    {
        "id": "1a0630e70b9f9c7a",
        "type": "ui_text",
        "z": "bd41e94f70e6bcf2",
        "group": "efc68f0ae5b88837",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Temperatura mínima",
        "format": "{{msg.payload[0].mi|number:2}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1380,
        "y": 280,
        "wires": []
    },
    {
        "id": "3cfa8708bc7416c7",
        "type": "ui_text",
        "z": "bd41e94f70e6bcf2",
        "group": "efc68f0ae5b88837",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Temperatura máxima",
        "format": "{{msg.payload[0].ma}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1380,
        "y": 320,
        "wires": []
    },
    {
        "id": "3ba13864a981d092",
        "type": "mysql",
        "z": "bd41e94f70e6bcf2",
        "mydb": "f94c42e1dba41f85",
        "name": "",
        "x": 1170,
        "y": 320,
        "wires": [
            [
                "3cfa8708bc7416c7",
                "1a0630e70b9f9c7a",
                "0e075fbe6f088a67"
            ]
        ]
    },
    {
        "id": "292c5b19a499511a",
        "type": "ui_text",
        "z": "bd41e94f70e6bcf2",
        "group": "6404a2cdfd60d19e",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Temperatura media",
        "format": "{{msg.payload[0].a|number:2}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 520,
        "y": 280,
        "wires": []
    },
    {
        "id": "6104822c7216dc16",
        "type": "ui_text",
        "z": "bd41e94f70e6bcf2",
        "group": "6404a2cdfd60d19e",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Temperatura mínima",
        "format": "{{msg.payload[0].mi|number:2}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 540,
        "y": 320,
        "wires": []
    },
    {
        "id": "a59922e8404201dc",
        "type": "ui_text",
        "z": "bd41e94f70e6bcf2",
        "group": "6404a2cdfd60d19e",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Temperatura máxima",
        "format": "{{msg.payload[0].ma}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 540,
        "y": 360,
        "wires": []
    },
    {
        "id": "3ba485f7f4ae2543",
        "type": "mysql",
        "z": "bd41e94f70e6bcf2",
        "mydb": "f94c42e1dba41f85",
        "name": "",
        "x": 280,
        "y": 360,
        "wires": [
            [
                "a59922e8404201dc",
                "6104822c7216dc16",
                "292c5b19a499511a"
            ]
        ]
    },
    {
        "id": "4d8954e7a330ee51",
        "type": "ui_text",
        "z": "bd41e94f70e6bcf2",
        "group": "06ed5048729e89b4",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Temperatura media",
        "format": "{{msg.payload[0].a|number:2}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 770,
        "y": 320,
        "wires": []
    },
    {
        "id": "5cdbd65df81130f7",
        "type": "ui_text",
        "z": "bd41e94f70e6bcf2",
        "group": "06ed5048729e89b4",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Temperatura mínima",
        "format": "{{msg.payload[0].mi|number:2}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 780,
        "y": 360,
        "wires": []
    },
    {
        "id": "31f64ba443e17870",
        "type": "ui_text",
        "z": "bd41e94f70e6bcf2",
        "group": "06ed5048729e89b4",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Temperatura máxima",
        "format": "{{msg.payload[0].ma}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 780,
        "y": 400,
        "wires": []
    },
    {
        "id": "8753ea09043497aa",
        "type": "mysql",
        "z": "bd41e94f70e6bcf2",
        "mydb": "f94c42e1dba41f85",
        "name": "",
        "x": 570,
        "y": 400,
        "wires": [
            [
                "31f64ba443e17870",
                "5cdbd65df81130f7",
                "4d8954e7a330ee51"
            ]
        ]
    },
    {
        "id": "0b348111bf6bfd40",
        "type": "ui_text",
        "z": "bd41e94f70e6bcf2",
        "group": "59cd0987390f775f",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Temperatura media",
        "format": "{{msg.payload[0].a|number:2}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1010,
        "y": 360,
        "wires": []
    },
    {
        "id": "110793b3df77cb96",
        "type": "ui_text",
        "z": "bd41e94f70e6bcf2",
        "group": "59cd0987390f775f",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Temperatura mínima",
        "format": "{{msg.payload[0].mi|number:2}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1020,
        "y": 400,
        "wires": []
    },
    {
        "id": "219de35265d496ad",
        "type": "ui_text",
        "z": "bd41e94f70e6bcf2",
        "group": "59cd0987390f775f",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Temperatura máxima",
        "format": "{{msg.payload[0].ma}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1020,
        "y": 440,
        "wires": []
    },
    {
        "id": "86263e238a5465f8",
        "type": "mysql",
        "z": "bd41e94f70e6bcf2",
        "mydb": "f94c42e1dba41f85",
        "name": "",
        "x": 810,
        "y": 440,
        "wires": [
            [
                "219de35265d496ad",
                "110793b3df77cb96",
                "0b348111bf6bfd40"
            ]
        ]
    },
    {
        "id": "ac036eca3fd3379a",
        "type": "comment",
        "z": "bd41e94f70e6bcf2",
        "name": "daily data",
        "info": "# Datos del dia\nDatos generados a partir de la data recogida en la fecha actual y generados cada 10 minutos",
        "x": 160,
        "y": 160,
        "wires": []
    },
    {
        "id": "54c23fc0a9f4a502",
        "type": "ui_text",
        "z": "bd41e94f70e6bcf2",
        "group": "dcbb2fb77a2630e2",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Temperatura media",
        "format": "{{msg.payload[0].a|number:2}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 550,
        "y": 120,
        "wires": []
    }
]